*{
  margin:0;
  font-family: 'Inter', sans-serif;
}
.all-lists-container {
  display: flex;
  flex-wrap: wrap;
}
hr{
  margin:5px;
}
.add-list-button {
  margin: 0 0 0 10px;
  height: 30px;
  font-size: 14px;
  align-self: center;
}
p, .task-text{
  font-size: 1.5em;
  margin: .3rem .5rem;
}
input[type="checkbox"] {
  margin-right: 0.5rem;
  margin-top: .7rem;
  width: 1.3rem;
  height: 1.3rem;
}

h3{
  font-size: 1.8em;
  color: rgb(145, 145, 145);
  margin: 15px 0 0 0;
  font-weight:600
}
.displayed-task{
  width:80%;
  overflow-wrap: break-word;
}
h1{
  padding-left: 1rem;
  margin: 0;
  font-size: 4rem;
}

#new-list-button{
  margin-right: 1.5rem;
  font-size: 2em;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: rgb(140, 227, 239);
}
#homepage-header{
  width: 100vw;
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}