* {
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 16px; /* Set base font size to 16px */
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}

ul{
  width: 100%;
}

#website-container {
  width: 95vw;

}

.all-lists-container {
  display: flex;
  flex-wrap: wrap;
}

.add-list-button {
  margin: 0 0 0 10px;
  height: 30px;
  font-size: 14px;
  align-self: center;
}
p, .task-text{
  width: 100%; 
  font-size: 1.2em;
  margin: .3rem .5rem;
}
input[type="checkbox"] {
  margin-right: 0.5rem;
  margin-top: .7rem;
  min-width: 1.3rem;
  height: 1.3rem;
}
.displayed-task{
  width:100%;
  overflow-wrap: break-word;
 }
 

.blue-button{
  font-size: 1vw;
  font-weight: 600;
  align-self: center;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  padding: .5rem .8rem;
  background-color: rgb(140, 227, 239);
}
#homepage-title{
  margin:0px;
  padding-left: 0px;
  font-size: 3rem;
}
#homepage-header{
  display: flex;
  margin: 1.5rem 0 2.5rem;
  justify-content: space-between;
  gap: 50%;
  flex-wrap: wrap;
}