
*{
  box-sizing: border-box;
}

#invisible-checkbox {
  opacity: 0;
}

li{
  display:flex;
  align-items: center;
}
textarea {
    /* padding:0.25rem 0.5rem; */
    border: 0px solid transparent;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1em;
    resize:none;
    /* height: 1em; */
}

textarea:focus {
  outline: none; /* Removes the default focus outline */
  border: 2px solid black;
}

ul {
  list-style-type: none;
  padding: 0 0px;
}

li {
  border-radius: 5px;
}


.task-list{
  display: flex;
  flex-direction: row;
  background: linear-gradient(rgb(188, 247, 255), rgb(255, 255, 255));
  /* border: 5px solid #ffffff; */
  /* margin: 2vh; */
  border-radius:10px;
  filter:drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
  width:100%;
}
.flower-container{
  /* width:12vh; */
}
.list-container {
  filter:drop-shadow(2px 2px 5px rgba(0,0,0,0.2));
  padding: 2rem;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;


}

.list-items-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  width:100%;

}
.task-container{
  display: flex;
  align-items: flex-start;
  /* margin:1rem; */
}
hr{
  width:100%;
  border-width:2px;
}
/* .displayed-task{
  padding:0 .5rem;
} */
* {
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-title {
  width: 80%;
  font-weight: 600;
  font-size: 2rem;
  overflow-wrap: break-word;
  text-transform: uppercase;
}
.list-header{
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  /* padding:0 0 .25rem; */
}

/* editmode */
#edit-mode-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
}
.edit-mode{
  position:absolute;
  
}

.title-input{
  margin: 1rem;
  font-size: 2em;
  width:80%;
}


.edit-list-close-button {
  background-color: transparent;
  border: none;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}